In [2]:
import pandas as pd
import numpy as np

In [3]:
def load_day(day):
    header = ['timestamp', 'line_id', 'direction', 'jrny_patt_id', 'time_frame', 'journey_id', 'operator', 
              'congestion', 'lon', 'lat', 'delay', 'block_id', 'vehicle_id', 'stop_id', 'at_stop']
    types = {'timestamp': np.int64,
             'journey_id': np.int32,
             'congestion': np.int8,
             'lon': np.float64,
             'lat': np.float64,
             'delay': np.int8,
             'vehicle_id': np.int32,
             'at_stop': np.int8}
    file_name = 'data/siri.201301{0:02d}.csv'.format(day)
    df = pd.read_csv(file_name, header=None, names=header, dtype=types, parse_dates=['time_frame'], infer_datetime_format=True)
    null_replacements = {'line_id': 0, 'stop_id': 0}
    df = df.fillna(value=null_replacements)
    df['line_id'] = df['line_id'].astype(np.int32)
    df['stop_id'] = df['stop_id'].astype(np.int32)
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='us')
    return df

In [4]:
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    
    Taken from here: https://stackoverflow.com/questions/29545704/fast-haversine-approximation-python-pandas#29546836
    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    #c = 2 * np.arcsin(np.sqrt(a))
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1.0 - a))
    meters = 6372000.0 * c
    return meters

In [5]:
def calculate_durations(data_frame, vehicle_id):
    one_second = np.timedelta64(1000000000, 'ns')
    dv = data_frame[data_frame['vehicle_id']==vehicle_id]
    ts = dv.timestamp.values
    dtd = ts[1:] - ts[:-1]
    dt = np.zeros(len(dtd) + 1)
    dt[1:] = dtd / one_second
    return dt

In [6]:
def calculate_distances(data_frame, vehicle_id):
    dv = data_frame[data_frame['vehicle_id']==vehicle_id]
    lat = dv.lat.values
    lon = dv.lon.values
    dxm = haversine_np(lon[1:], lat[1:], lon[:-1], lat[:-1])
    dx = np.zeros(len(dxm) + 1)
    dx[1:] = dxm
    return dx

In [7]:
def filter_columns(df):
    columns = ['timestamp', 'direction', 'journey_id', 'congestion', 'lon', 'lat', 'delay', 'vehicle_id', 'stop_id', 'at_stop']
    return df[columns]

In [30]:
d1 = load_day(1)
d2 = load_day(2)
d3 = load_day(3)

In [31]:
d1.isnull().sum()

timestamp            0
line_id              0
direction            0
jrny_patt_id    121407
time_frame           0
journey_id           0
operator             0
congestion           0
lon                  0
lat                  0
delay                0
block_id             0
vehicle_id           0
stop_id              0
at_stop              0
dtype: int64

In [32]:
d2.isnull().sum()

timestamp            0
line_id              0
direction            0
jrny_patt_id    252724
time_frame           0
journey_id           0
operator             0
congestion           0
lon                  0
lat                  0
delay                0
block_id             0
vehicle_id           0
stop_id              0
at_stop              0
dtype: int64

In [33]:
d3.isnull().sum()

timestamp            0
line_id              0
direction            0
jrny_patt_id    255489
time_frame           0
journey_id           0
operator             0
congestion           0
lon                  0
lat                  0
delay                0
block_id             0
vehicle_id           0
stop_id              0
at_stop              0
dtype: int64

In [34]:
journeys1 = d1['journey_id'].unique()
journeys2 = d2['journey_id'].unique()
journeys3 = d3['journey_id'].unique()

In [24]:
len(journeys1)

5119

In [25]:
len(journeys2)

7432

In [29]:
print(journeys1.min(), journeys2.max())

258 991819

In [28]:
print(journeys2.min(), journeys2.max())

1 991819

In [35]:
print(journeys3.min(), journeys3.max())

1 998867

In [37]:
journeys3.shape

(7301,)

In [20]:
journeys

array([   258,    347,    348, ..., 990663, 993025, 993486])

In [38]:
d3[d3['journey_id'] == 258]

,timestamp,line_id,direction,jrny_patt_id,time_frame,journey_id,operator,congestion,lon,lat,delay,block_id,vehicle_id,stop_id,at_stop
1610188,2013-01-03 22:09:33,33,0,NaN,2013-01-03,258,SL,0,-6.176567,53.601452,0,33010,38042,6048,1
1610853,2013-01-03 22:10:14,33,0,00331001,2013-01-03,258,SL,0,-6.176567,53.601452,0,33010,38042,6048,1
1611116,2013-01-03 22:10:34,33,0,00331001,2013-01-03,258,SL,0,-6.184335,53.604462,0,33010,38042,6048,1
1611399,2013-01-03 22:10:55,33,0,00331001,2013-01-03,258,SL,0,-6.184335,53.604462,0,33010,38042,6048,1
1611746,2013-01-03 22:11:13,33,0,00331001,2013-01-03,258,SL,0,-6.184335,53.604462,0,33010,38042,6048,1
1612659,2013-01-03 22:12:15,33,0,00331001,2013-01-03,258,SL,0,-6.182433,53.603149,0,33010,38042,6048,1
1612945,2013-01-03 22:12:35,33,0,00331001,2013-01-03,258,SL,0,-6.177083,53.601452,0,33010,38042,6048,1
1613228,2013-01-03 22:12:55,33,0,00331001,2013-01-03,258,SL,0,-6.184484,53.604218,0,33010,38042,6048,1
1614721,2013-01-03 22:14:34,33,0,00331001,2013-01-03,258,SL,0,-6.184484,53.604218,0,33010,38042,6048,1
1614975,2013-01-03 22:14:54,33,0,00331001,2013-01-03,258,SL,0,-6.184484,53.604218,0,33010,38042,6048,1
1615590,2013-01-03 22:15:33,33,0,00331001,2013-01-03,258,SL,0,-6.184307,53.604549,30,33010,38042,6048,0
1615885,2013-01-03 22:15:53,33,0,00331001,2013-01-03,258,SL,0,-6.182001,53.606266,4,33010,38042,5064,0
1616225,2013-01-03 22:16:14,33,0,00331001,2013-01-03,258,SL,0,-6.179612,53.606155,4,33010,38042,5064,0
1616504,2013-01-03 22:16:34,33,0,00331001,2013-01-03,258,SL,0,-6.176455,53.605892,4,33010,38042,7173,0
1616777,2013-01-03 22:16:53,33,0,00331001,2013-01-03,258,SL,0,-6.173338,53.605782,-17,33010,38042,3811,0
1617066,2013-01-03 22:17:13,33,0,00331001,2013-01-03,258,SL,0,-6.172421,53.606010,-17,33010,38042,3811,0
1617353,2013-01-03 22:17:34,33,0,00331001,2013-01-03,258,SL,0,-6.170248,53.604725,-17,33010,38042,3812,0
1617661,2013-01-03 22:17:54,33,0,00331001,2013-01-03,258,SL,0,-6.167799,53.603058,-17,33010,38042,3664,0
1617991,2013-01-03 22:18:15,33,0,00331001,2013-01-03,258,SL,0,-6.165734,53.601246,-45,33010,38042,3664,0
1618285,2013-01-03 22:18:35,33,0,00331001,2013-01-03,258,SL,0,-6.163613,53.598988,-67,33010,38042,3664,0
1618536,2013-01-03 22:18:54,33,0,00331001,2013-01-03,258,SL,0,-6.161510,53.596653,-89,33010,38042,3664,0
1619425,2013-01-03 22:19:53,33,0,00331001,2013-01-03,258,SL,0,-6.154696,53.589954,121,33010,38042,3813,0
1619754,2013-01-03 22:20:14,33,0,00331001,2013-01-03,258,SL,0,-6.152215,53.587730,121,33010,38042,3813,0
1620323,2013-01-03 22:20:55,33,0,00331001,2013-01-03,258,SL,0,-6.147354,53.585495,-106,33010,38042,3814,0
1620644,2013-01-03 22:21:13,33,0,00331001,2013-01-03,258,SL,0,-6.147354,53.585495,-106,33010,38042,3814,0
1620913,2013-01-03 22:21:34,33,0,00331001,2013-01-03,258,SL,0,-6.141100,53.586494,-85,33010,38042,3814,0
1621200,2013-01-03 22:21:54,33,0,00331001,2013-01-03,258,SL,0,-6.137260,53.586380,-85,33010,38042,3814,0
1621542,2013-01-03 22:22:13,33,0,00331001,2013-01-03,258,SL,0,-6.133649,53.586056,-67,33010,38042,3814,0
1621808,2013-01-03 22:22:33,33,0,00331001,2013-01-03,258,SL,0,-6.130404,53.585709,-67,33010,38042,3814,0
1622441,2013-01-03 22:23:14,33,0,00331001,2013-01-03,258,SL,0,-6.125088,53.583836,-35,33010,38042,3814,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673999,2013-01-03 23:22:07,33,0,00331001,2013-01-03,258,SL,0,-6.244565,53.382324,116,33010,38042,1642,0
1674211,2013-01-03 23:22:25,33,0,00331001,2013-01-03,258,SL,0,-6.245899,53.380367,-122,33010,38042,213,0
1674487,2013-01-03 23:22:46,33,0,00331001,2013-01-03,258,SL,0,-6.247748,53.378090,-122,33010,38042,214,0
1674825,2013-01-03 23:23:06,33,0,00331001,2013-01-03,258,SL,0,-6.249705,53.376392,-122,33010,38042,4432,0
1675090,2013-01-03 23:23:27,33,0,00331001,2013-01-03,258,SL,0,-6.251664,53.374088,-122,33010,38042,119,0
1675334,2013-01-03 23:23:46,33,0,00331001,2013-01-03,258,SL,0,-6.252728,53.372318,-122,33010,38042,44,0
1675663,2013-01-03 23:24:06,33,0,00331001,2013-01-03,258,SL,0,-6.253977,53.370388,-122,33010,38042,44,0
1675915,2013-01-03 23:24:27,33,0,00331001,2013-01-03,258,SL,0,-6.255220,53.368233,111,33010,38042,45,0
1676155,2013-01-03 23:24:45,33,0,00331001,2013-01-03,258,SL,0,-6.255481,53.367157,111,33010,38042,46,1
1676408,2013-01-03 23:25:10,33,0,00331001,2013-01-03,258,SL,0,-6.255510,53.366791,111,33010,38042,46,0
1676745,2013-01-03 23:25:26,33,0,00331001,2013-01-03,258,SL,0,-6.256711,53.364811,111,33010,38042,46,0
1676987,2013-01-03 23:25:47,33,0,00331001,2013-01-03,258,SL,0,-6.257374,53.363998,111,33010,38042,47,1
1677220,2013-01-03 23:26:05,33,0,00331001,2013-01-03,258,SL,0,-6.258628,53.362644,111,33010,38042,47,0
1677510,2013-01-03 23:26:26,33,0,00331001,2013-01-03,258,SL,0,-6.260287,53.360783,111,33010,38042,48,0
1677785,2013-01-03 23:26:46,33,0,00331001,2013-01-03,258,SL,0,-6.260980,53.360065,111,33010,38042,49,1
1678045,2013-01-03 23:27:07,33,0,00331001,2013-01-03,258,SL,0,-6.261894,53.359097,111,33010,38042,49,0
1678364,2013-01-03 23:27:27,33,0,00331001,2013-01-03,258,SL,0,-6.262354,53.358669,111,33010,38042,50,1
1678600,2013-01-03 23:27:46,33,0,00331001,2013-01-03,258,SL,0,-6.263942,53.357376,93,33010,38042,51,0
1678851,2013-01-03 23:28:06,33,0,00331001,2013-01-03,258,SL,0,-6.264534,53.356644,93,33010,38042,52,1
1679136,2013-01-03 23:28:25,33,0,00331001,2013-01-03,258,SL,0,-6.264771,53.356445,111,33010,38042,52,0
1679414,2013-01-03 23:28:46,33,0,00331001,2013-01-03,258,SL,0,-6.265185,53.356102,111,33010,38042,52,0
1679659,2013-01-03 23:29:06,33,0,00331001,2013-01-03,258,SL,0,-6.264016,53.354950,111,33010,38042,52,0
1679931,2013-01-03 23:29:25,33,0,00331001,2013-01-03,258,SL,0,-6.262371,53.353542,91,33010,38042,52,0
1680163,2013-01-03 23:29:47,33,0,00331001,2013-01-03,258,SL,0,-6.261707,53.352940,91,33010,38042,52,0
1680450,2013-01-03 23:30:06,33,0,00331001,2013-01-03,258,SL,0,-6.261620,53.352867,113,33010,38042,52,0
1680755,2013-01-03 23:30:26,33,0,00331001,2013-01-03,258,SL,0,-6.260990,53.351917,113,33010,38042,52,0
1681198,2013-01-03 23:31:05,33,0,00331001,2013-01-03,258,SL,0,-6.260511,53.350815,113,33010,38042,277,1
1681527,2013-01-03 23:31:26,33,0,00331001,2013-01-03,258,SL,0,-6.259991,53.349655,113,33010,38042,277,0
1681775,2013-01-03 23:31:46,33,0,00331001,2013-01-03,258,SL,0,-6.259602,53.348778,113,33010,38042,277,0
1682015,2013-01-03 23:32:07,33,0,00331001,2013-01-03,258,SL,0,-6.258682,53.348522,113,33010,38042,277,0

In [25]:
days = None
for d in range(31):
    day = filter_columns(load_day(d+1))
    day['dt'] = 0.0
    day['dx'] = 0.0
    day['speed'] = 0.0    
    if days is None:
        days = day
    else:
        days = days.append(day)

In [26]:
days.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44455133 entries, 0 to 603920
Data columns (total 13 columns):
timestamp     datetime64[ns]
direction     int64
journey_id    int32
congestion    int8
lon           float64
lat           float64
delay         int8
vehicle_id    int32
stop_id       int32
at_stop       int8
dt            float64
dx            float64
speed         float64
dtypes: datetime64[ns](1), float64(5), int32(3), int64(1), int8(3)
memory usage: 3.3 GB

In [27]:
vehicles = days['vehicle_id'].unique()

In [28]:
for v in vehicles:
    vehicle_selector = days['vehicle_id']==v
    days.loc[vehicle_selector,'dt'] = calculate_durations(days, v)
    days.loc[vehicle_selector,'dx'] = calculate_distances(days, v)

speed_selector = days['dt'] > 0
days.loc[speed_selector,'speed'] = days[speed_selector].dx / days[speed_selector].dt * 3.6

# Filter invalid points (speeds over 100 km/h)
days = days[days['speed'] < 100.0]

KeyboardInterrupt:

In [12]:
days.head(10)

,timestamp,direction,journey_id,congestion,lon,lat,delay,vehicle_id,stop_id,at_stop,dt,dx,speed
0,2013-01-02 00:00:01,0,16353,0,-6.323346,53.295563,-74,33491,6132,1,0.0,0.0,0.0
1,2013-01-02 00:00:01,0,15893,0,-6.297000,53.347950,-92,33359,1575,0,0.0,0.0,0.0
2,2013-01-02 00:00:01,0,16049,0,-6.278083,53.416634,-42,38072,6229,0,0.0,0.0,0.0
3,2013-01-02 00:00:01,0,15751,0,-6.278600,53.417133,0,33455,6317,1,0.0,0.0,0.0
4,2013-01-02 00:00:03,0,16312,0,-6.256236,53.350414,-54,38020,621,1,0.0,0.0,0.0
5,2013-01-02 00:00:03,0,13342,0,-6.115118,53.493210,-93,33377,3725,0,0.0,0.0,0.0
6,2013-01-02 00:00:03,0,13094,0,-6.277900,53.416451,0,33160,281,0,0.0,0.0,0.0
7,2013-01-02 00:00:03,0,16074,0,-6.110153,53.202221,-90,33348,4132,1,0.0,0.0,0.0
8,2013-01-02 00:00:03,0,15552,0,-6.254734,53.355618,-19,33119,5052,0,0.0,0.0,0.0
9,2013-01-02 00:00:03,0,15561,0,-6.261019,53.274021,-1,33425,2971,0,0.0,0.0,0.0

In [13]:
days[days['vehicle_id']==33491].head(20)

,timestamp,direction,journey_id,congestion,lon,lat,delay,vehicle_id,stop_id,at_stop,dt,dx,speed
0,2013-01-02 00:00:01,0,16353,0,-6.323346,53.295563,-74,33491,6132,1,0.0,0.000000,0.000000
103,2013-01-02 00:00:17,0,16353,0,-6.323346,53.295563,-14,33491,6132,1,16.0,0.000000,0.000000
136,2013-01-02 00:00:21,0,16353,0,-6.323346,53.295563,-14,33491,6132,1,4.0,0.000000,0.000000
227,2013-01-02 00:00:42,0,16353,0,-6.323346,53.295563,-14,33491,6132,1,21.0,0.000000,0.000000
323,2013-01-02 00:01:02,0,16353,0,-6.323346,53.295563,-14,33491,6132,1,20.0,0.000000,0.000000
430,2013-01-02 00:01:17,0,16353,0,-6.320733,53.296974,-14,33491,4861,0,15.0,234.072988,56.177517
454,2013-01-02 00:01:21,0,16353,0,-6.320733,53.296974,-14,33491,4861,0,4.0,0.000000,0.000000
548,2013-01-02 00:01:41,0,16353,0,-6.320733,53.296974,-14,33491,4861,0,20.0,0.000000,0.000000
638,2013-01-02 00:02:01,0,16353,0,-6.320733,53.296974,-14,33491,4861,0,20.0,0.000000,0.000000
845,2013-01-02 00:02:42,0,16353,0,-6.269917,53.318066,0,33491,4862,1,20.0,321.906731,57.943211
930,2013-01-02 00:03:02,0,16353,0,-6.268034,53.320717,0,33491,4862,1,20.0,320.264903,57.647683
1038,2013-01-02 00:03:17,0,16353,0,-6.268034,53.320717,0,33491,4862,1,15.0,0.000000,0.000000
1050,2013-01-02 00:03:23,0,16353,0,-6.266400,53.321751,0,33491,4862,1,6.0,158.132827,94.879696
1129,2013-01-02 00:03:41,0,16353,0,-6.265733,53.322334,0,33491,4862,1,18.0,78.530407,15.706081
1209,2013-01-02 00:04:02,0,16353,0,-6.265316,53.324467,0,33491,4862,1,21.0,238.827813,40.941911
1286,2013-01-02 00:04:18,0,16353,0,-6.265316,53.324467,0,33491,4862,1,16.0,0.000000,0.000000
1391,2013-01-02 00:04:42,0,16353,0,-6.264500,53.328918,0,33491,4862,1,20.0,246.103654,44.298658
1466,2013-01-02 00:05:01,0,16353,0,-6.264367,53.329685,0,33491,4862,1,19.0,85.756072,16.248519
1568,2013-01-02 00:05:19,0,16353,0,-6.264367,53.329685,0,33491,4862,1,18.0,0.000000,0.000000
1645,2013-01-02 00:05:41,0,16353,0,-6.264367,53.330551,0,33491,4862,1,22.0,96.309921,15.759805

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1667864 entries, 0 to 1687411
Data columns (total 13 columns):
timestamp     1667864 non-null datetime64[ns]
direction     1667864 non-null int64
journey_id    1667864 non-null int32
congestion    1667864 non-null int8
lon           1667864 non-null float64
lat           1667864 non-null float64
delay         1667864 non-null int8
vehicle_id    1667864 non-null int32
stop_id       1667864 non-null int32
at_stop       1667864 non-null int8
dt            1667864 non-null float64
dx            1667864 non-null float64
speed         1667864 non-null float64
dtypes: datetime64[ns](1), float64(5), int32(3), int64(1), int8(3)
memory usage: 125.7 MB

In [15]:
# Number of different vehicles
len(days.groupby('vehicle_id'))

817

In [16]:
# Number of different stops
len(days.groupby('stop_id'))

4713

In [ ]:
days.to_csv("data/201301.csv", index=False)